# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List popular data science libraries
- Create a table of popular Data Science tools
- Create a code cell to multiply and add numbers
- Create a code cell to convert minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. Ruby
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn

| Data Science Tools |
| ------------------ |
| MySQL |
| Apache Hadoop |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Mohamed Bader